<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><% if (title) { %><%= title %> | <% } %>VoteIT</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
