<form action="createVoteSession" method="post">
  <label>Max Time(sec): </label><input type='number' name='maxtime' value="600" placeholder="Write the max time for the vote in minutes" > <br>
  <label>Max allowed options for end user: </label><input type='number' name='maxallowedoptions' placeholder="Write the max allowed options.." > <br>
  <label>Add a Vakant option for the max allowed votes: </label><input type='checkbox' name='vakant' > <br>
  <div id='TextBoxesGroup'>
	   <div id="TextBoxDiv1">
		     <label>Option #1 : </label><input type='textbox' name='textbox[]' placeholder="Write an option.." > <br>
         <label>Option #2 : </label><input type='textbox' name='textbox[]' placeholder="Write an option.." >
	      </div>
  </div>
<input type='button' value='+' id='addButton'>
<input type='button' value='-' id='removeButton'>
<br>

  <input type='submit' value='Submit Vote' id='removeButton'>
</form>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/admin.js"></script>
