<% include _head.ejs %>

<form action="/createVoteSession" class="admin-form" method="post">
  <div class="form-group">
    <label>Max allowed options for end user:
      <input type="number" autofocus name="max_candidates" placeholder="Write the max allowed options.." />
    </label>
  </div>
  <div class="form-group">
    <label>Add a Vakant option for the max allowed votes:
      <input type="checkbox" name="vacant" />
    </label>
  </div>
  <div class="TextBoxesGroup">
    <div class="form-group">
      <label>Option #1:
        <input type="text" name="textbox[]" placeholder="Write an option.." />
      </label>
    </div>
    <div class="form-group">
      <label>Option #2:
        <input type="text" name="textbox[]" placeholder="Write an option.." />
      </label>
    </div>
  </div>
  <div>
    <button id="addButton">+</button>
    <button id="removeButton">-</button>
  </div>

  <button>Submit Vote</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/admin.js"></script>

<% include _footer.ejs %>