<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/frontend.js"></script>
<%if (state==POSSIBLE_STATES.noVote) { %>
  <h1>No Voting session at the time</h1>
  There is no election at the time, try again later.
<%}else if(state==POSSIBLE_STATES.vote){ %>
  <h1>Voting session open</h1>
 Vote nr:<%= vote.id %>
 Time left:<span id="timeleft"><%= vote.timeLeft %></span> in sek
 <input type="hidden" id="maximumNbrOfVotes" value="<%= vote.maximumNbrOfVotes %>">
 <br>
 You have <span id="votesleft"><%= vote.maximumNbrOfVotes %></span> votes left

<form class="optionsform" action="vote" method="post" >

  <% vote.options.sort(function() { return .5 - Math.random() }).concat(vote.vacoptions).forEach(function(option)  { %>

    <label>
      <input type="checkbox" id="<%= option.vacant ? option.name.toLowerCase() : ('vote' + option.id) %>" name="vote" value="<%= option.id %>" class="voteoption <%= option.vacant ? 'vacant':'' %>" />
      <%= option.name %>
    </label>
    <br>

  <% }) %>
   your code on your papper:<input name="code" />
  <input type="submit" value="Submit">


  </form>
<% }else{ %>
  Winner of election is:
  <% vote.winners.sort(function() {return .5 - Math.random()}).forEach(function(winner,id)  { %>
    <label>
      <%= winner.name %>
    </label>
    <br>
  <% }) %>

<% } %>
