<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/frontend.js"></script>
<%if (!elec) { %>
  <h1>No election at the time</h1>
  There is no election at the time, try again later.
<%}else { %>
  <h1>Election open</h1>
<form class="optionsform" action="vote" method="post" >
  <% options.forEach(function(options)  { %>
    <label>
      <input type="checkbox" name="vote" value="<%= options %>" class="voteoption"><%= options %>
    </label>
    <br>
  <% }) %>
  your code on your papper:<input name="code" />
  <input type="submit" value="Submit">


  </form>
<% } %>
