<% include _head.ejs %>

<section class="page">
<% if (CURRENT_STATE == POSSIBLE_STATES.noVote) { %>
  <div class="no-session">
    <h1>No Voting session at the time</h1>
    There is no election at the time, try again later.
  </div>
<% } else if (CURRENT_STATE == POSSIBLE_STATES.vote) { %>
  <div>
    <input type="hidden" id="maximumNbrOfVotes" value="<%= vote.maximumNbrOfVotes %>">

    <h1>Voting session open</h1>
    Time left: <span id="timeleft"><%= vote.timeLeft %></span> second(s)
    <div class="votes-left">
      You have <span id="votesleft"><%= vote.maximumNbrOfVotes %></span> votes left
    </div>

    <form class="optionsform" action="/vote" method="post" >

      <% vote.options.sort(function() { return .5 - Math.random() }).concat(vote.vacantOptions).forEach(function(option)  { %>
        <label>
          <input type="checkbox"
                 id="<%= option.vacant ? option.name.toLowerCase() : ('vote' + option.id) %>"
                 name="vote"
                 value="<%= option.id %>"
                 class="voteoption <%= option.vacant ? 'vacant':'' %>" />
          <%= option.name %>
        </label>
      <% }) %>

      <>
        Code for current voting session (num <%= sessionNumber + 1 %>):
        <% for (var i = lengthOfCodes / 4; i > 0; i--) { %>
        <input name="code" class="code-input" data-max-num="4"/><% if (i != 1) { %>-<% } %>
        <% } %>
      </label>
      <input type="submit" value="Submit">
    </form>
  </div>
<% } else if (CURRENT_STATE == POSSIBLE_STATES.result) { %>
  <div>
    Winner of election is:
    <div class="winners-election">
      <% vote.winners.sort(function() {return .5 - Math.random()}).forEach(function(winner, id) { %>
        <%= winner.name %>
      <% }) %>
    </div>
  </div>
<% } %>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/frontend.js"></script>

<% include _footer.ejs %>