
.users-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.one-user-codes {
	margin-top: 8%;
	margin-bottom: 8%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	min-width: 7em;
	min-height: 40%;
	max-height: 40%;
}
