*, *:before, *:after{
    box-sizing: border-box;
}

button,
header,
section,
footer,
nav,
li,
div,
html,
body {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: stretch;
}
html, body, #root {
    height: 100%;
}

.main-body {
    padding: 2em;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.main-box.no-active-session {
    min-width: 300px;
    text-align: center;
}

.main-box.active-session {
    min-width: 300px;
    width: 70%;
}

.voting-components .vote-header {
    text-align: center;
    margin: 0.5em;
}
.voting-components > div {
    margin: 1em 0 0;
}
.vote-header .right {
    justify-content: flex-end;
}
.vote-header .center {
    justify-content: center;
}

.vote-header .right span, .vote-header .center span {
    margin-left: 0.3em;
}

.vote-header {
    flex-direction: row;
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    .vote-header { flex-direction: column; }
    .vote-header > div, .vote-header .right { justify-content: center; }
}

.vote-header > div {
    flex-direction: row;
    flex: 1;
}


.candidate .status .text {
    font-size: 3em;
}
.candidate .status {
    padding-left: 0.5em;
    color: #fff;
    justify-content: center;

    flex: 1 1 1em;
}

.candidate .name {
    text-align: center;
    flex: 2 1 1em;
}

.candidate .filler {
    flex: 1 1 1em;
}

.candidate.active {
    background: #43a047;
}

.candidate.active:hover {
    background: #388E3C;
}

.candidate {
    color: #ecf0f1;
    flex-direction: row;
    align-items: center;
    padding: 0.3em;
    font-size: 1.5em;
    margin: 0.5em;
    cursor: pointer;
    background: #3498db;
    box-shadow: 2px 2px 3px #888;

    transition: background 0.2s ease-out;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.candidate:hover {
     background: #2980b9;
}

.candidate.disabled {
    background: #757575;
}

.button.large {
    margin: 1em;
    padding: 1em;
    font-size: 2em;
}

.button.small {
    margin: 1em;
}

.button {
    padding: 0.2em;
    color: #fff;
    background: #0097A7;
    text-align: center;
    box-shadow: 2px 2px 3px #888;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button.red {
    background: #D32F2F;
}

.button:hover {
    background: #00838F;
}
.button.red:hover {
    background: #C62828;
}

.button:active {
    background: #006064;
    box-shadow: 0 0 3px #888;
}

.button.red:active {
    background: #B71C1C;
}

.multi-input {
    flex-direction: row;
    margin: 0.5em;
    font-size: 2em;
    justify-content: center;
}
.multi-input input {
    flex: 3;
    font-size: 1em;
    text-align: center;
}
.multi-input .dash {
    flex: 1;
    text-align: center;
}

.form-group {
    margin: 0.5em 0;
    flex-direction: row;
    align-items: center;
}
.winners h1 {
    text-align: center;
    margin-bottom: 0;
}
.winners h5 {
    text-align: center;
    margin-top: 0;
}
.winners ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.winners li {
    text-align: center;
    font-size: 2em;
    margin: 1em;
    padding: 1em;
    background: #4CAF50;
    color: #fff;
    flex-basis: 300px;
}

.form-group input, .form-group label {
    flex: 1;
    font-size: 1.3em;
}

.options .form-group {
    margin: 1em 0;
}
.options .form-group .button {
    width: 30px;
    height: 30px;
}

body {
    font-family: Roboto, sans-serif;
    background: #ecf0f1;
    color: #2c3e50;
}

.dist {
    margin-top: 1em;
}

h1 {
    color: #2c3e50;
}

.danger {
    color: #e74c3c;
}

.success {
    color: #4CAF50;
}

.errors {
    list-style-type: none;
    padding: 0;
    margin: 3em 2em 0;
}

.errors li {
    text-align: center;
    padding: 1em;
    background: #e74c3c;
    color: #fff;
}

.vote-summary .header {
    background: #5cadc5;
    padding: 0 1em;
}

.vote-summary .header h1 {
    color: #fff;
}

.vote-summary .body {
    padding: 1em;
}

.vote-summary {
    margin: 1em;
    background: #fff;
    color: #000;
    border: 4px solid #5cadc5;
    border-top: 0;
}

.summary-result-wrapper {
    margin: 1em 1em;
}

.summary-result-candidate {
  display: flex;
  flex-direction: row;
}

.summary-result-candidate span {
  margin-left: 1em;
}

.summary-result-winner {
  display: flex;
  flex-direction: row;
}

.summary-result-winner span {
  margin-left: 1em;
}

.summary-result-winner-container {
  margin-top: 2em;
}

.raw-results-wrapper {
    margin-top: 1em;
}

.raw-results-explaination {
    margin-bottom: 1em;
}
